/*Primero llamar archivos correspondientes a las utilities*/
/*$colores:(
    color1: ,
    color2: ,
    color3: ,
);

$fuentes:(
    fuente1: ,
    fuente2: ,
);*/
/*Segundo llamar a los partials que corresponden a la carpeta base*/
@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Fuentes:
font-family: "Aleo", serif;
font-family: "Roboto", sans-serif;
*/
/*Tercero llamar componentes o todo lo que corresponde a layout*/
.header {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  flex-flow: none;
  justify-content: space-between;
  align-items: center;
  align-content: none;
  gap: none;
  background-color: #848484;
  color: white;
  margin: 0; }
  .header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    flex-flow: none;
    justify-content: space-between;
    align-items: center;
    align-content: none;
    gap: none;
    padding: 0 0;
    width: 100%;
    margin: 0;
    background-color: #E3CDAE; }
    .header nav div a {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      text-decoration: none;
      color: #f4f4f4; }
    .header nav div img {
      width: 6.25rem;
      height: 6.25rem;
      margin: 0.3125rem;
      border-radius: 50%;
      object-fit: cover; }
    .header nav ul {
      display: flex;
      flex-direction: none;
      flex-wrap: none;
      flex-flow: none;
      justify-content: space-between;
      align-items: none;
      align-content: none;
      gap: none;
      width: 100%;
      padding: 0.625rem;
      list-style: none;
      text-decoration: none;
      font-family: "Aleo", serif;
      background-color: white;
      color: black; }
      .header nav ul li {
        flex: 1;
        text-align: center; }
        .header nav ul li a {
          display: block;
          text-decoration: none;
          font-size: 1rem;
          padding: 0.75rem 1.5rem;
          border: 2px solid white;
          border-radius: 1.25rem;
          border-width: 0.2031rem;
          padding: 0.3125rem;
          max-width: 15rem;
          margin: 0 auto;
          background-color: white;
          color: #84848485;
          border-color: #848484;
          transition: background-color 0.3s, border-color 0.3, color 0.3s; }
          .header nav ul li a:hover {
            background-color: #f4f4f4;
            border-color: black;
            color: black; }
    .header nav .navbar .active {
      background-color: white;
      border-color: black;
      color: black; }

.footerGlobal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: none;
  justify-content: space-between;
  align-items: flex-start;
  align-content: none;
  gap: none;
  padding: 1.25rem;
  background-color: #f4f4f4;
  color: black;
  font-family: "Aleo", serif; }
  .footerGlobal dl {
    margin-bottom: 1.25rem; }
    .footerGlobal dl dt {
      font-size: 1rem;
      font-weight: bold; }
    .footerGlobal dl dd {
      margin: 0.3125rem;
      font-size: 0.75rem;
      font-size: "Roboto", sans-serif;
      color: black; }
  .footerGlobal div {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem; }
    .footerGlobal div p {
      margin-right: 0.625rem;
      font-size: 1rem; }
    .footerGlobal div img {
      width: 1.5rem;
      height: auto;
      margin-right: 0.625rem; }
  .footerGlobal form {
    display: flex;
    align-items: center;
    max-width: 100%; }
    .footerGlobal form label, .footerGlobal form input[type="email"], .footerGlobal form input[type="sumbit"] {
      margin-right: 0.625rem;
      font-size: 1rem; }
    .footerGlobal form input[type="email"] {
      width: 100%;
      height: 100%; }
    .footerGlobal form input[type="sumbit"] {
      width: 3rem;
      height: 3rem; }

.main .primerCuerpo {
  display: grid;
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: none;
  grid-template-areas: none;
  align-items: center;
  column-gap: none;
  row-gap: none;
  gap: 0.625rem;
  font-family: "Roboto", sans-serif;
  background-color: #E3CDAE;
  color: black;
  position: relative; }
  .main .primerCuerpo .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: none;
    flex-wrap: none;
    flex-flow: none;
    justify-content: center;
    align-items: center;
    align-content: none;
    gap: none; }
    .main .primerCuerpo .logo img {
      width: 30%;
      height: 30%;
      margin: none;
      border-radius: 50%;
      opacity: 0.75; }
  .main .primerCuerpo .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-template-areas: none;
    align-items: none;
    column-gap: none;
    row-gap: none;
    gap: none;
    grid-column: 1 / -1; }
    .main .primerCuerpo .images img {
      width: 100%;
      height: auto; }

.main .segundoCuerpo {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: none;
  grid-template-areas: none;
  align-items: center;
  column-gap: none;
  row-gap: none;
  gap: 1.25rem;
  font-family: "Roboto", sans-serif;
  background-color: #BA9D79;
  color: black; }
  .main .segundoCuerpo p {
    margin: 2.1875rem;
    margin-left: 6.25rem;
    line-height: 1.15;
    max-height: 85%;
    overflow-y: auto;
    font-size: 1.15rem; }
  .main .segundoCuerpo div {
    display: flex;
    flex-direction: none;
    flex-wrap: none;
    flex-flow: none;
    justify-content: center;
    align-items: center;
    align-content: none;
    gap: none;
    position: relative;
    height: 100%; }
    .main .segundoCuerpo div img {
      width: 100%;
      height: 85%;
      border-radius: 10%;
      margin-right: 2rem; }
    .main .segundoCuerpo div a {
      padding: .625rem 1.25rem;
      border-style: solid;
      border-color: white;
      border-width: 0.1563;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      background-color: #f4f4f4;
      color: black; }
    .main .segundoCuerpo div .button {
      position: absolute;
      bottom: 10%;
      display: inline-block;
      padding: 2.5% 25%;
      border-radius: 1.5625rem;
      opacity: 0.75;
      transition: opacity 0.3s;
      margin-right: 2rem; }
      .main .segundoCuerpo div .button:hover {
        opacity: 1; }

.productosPrincipal {
  position: relative;
  text-align: center;
  padding: 0; }
  .productosPrincipal h1 {
    font-family: "Aleo", serif;
    background-color: #84848485;
    color: #f4f4f4;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); }
  .productosPrincipal h2 {
    text-align: right;
    font-family: "Aleo", serif;
    background-color: #84848485;
    color: #f4f4f4;
    position: absolute;
    bottom: 5rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); }
  .productosPrincipal a {
    text-decoration: none;
    font-family: "Aleo", serif;
    background-color: #f4f4f4;
    color: black;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    font-size: 1rem; }
    .productosPrincipal a:hover {
      background-color: #333;
      color: white; }
  .productosPrincipal .imagenes-container {
    display: flex;
    flex-direction: none;
    flex-wrap: wrap;
    flex-flow: none;
    justify-content: center;
    align-items: none;
    align-content: none;
    gap: 0;
    margin-top: 0; }
    .productosPrincipal .imagenes-container img {
      width: calc(30% - 0.375rem);
      flex-grow: 1; }

.productosIntermedio {
  padding: 1.5rem;
  text-align: center;
  font-family: "Aleo", serif;
  background-color: #848484;
  color: #f4f4f4; }
  .productosIntermedio h3 {
    padding: 1rem 0;
    border-top: 0.125rem solid black;
    border-bottom: 0.125rem solid black;
    font-size: 1.75rem; }

.productosFinal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0; }

.productosFinal div {
  position: relative;
  width: 100%; }

.productosFinal img {
  width: 100%;
  height: 100%;
  margin: 0; }

.botonComprar {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4f4f4;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0.75rem 5rem;
  border: 0.0625rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; }
  .botonComprar:hover {
    background-color: #363636;
    color: white; }

.clienteGlobal1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  padding: 1rem;
  border: 0;
  z-index: 2;
  gap: 1.5rem;
  background-color: #BA9D79; }
  .clienteGlobal1 img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem; }
  .clienteGlobal1 div {
    padding: 6rem;
    border-radius: 5rem;
    flex: 1;
    font-family: "Roboto", sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #f4f4f4; }
    .clienteGlobal1 div .nombreCliente {
      font-weight: bold;
      font-size: 1.375rem;
      margin-bottom: 0.5rem;
      color: black;
      font-family: "Aleo", serif; }
    .clienteGlobal1 div .opinionCliente {
      font-family: "Roboto", sans-serif;
      color: black; }

.clienteGlobal2 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 0;
  padding: 1rem;
  border: 0;
  z-index: 2;
  gap: 1.5rem;
  background-color: #E3CDAE; }
  .clienteGlobal2 img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem; }
  .clienteGlobal2 div {
    padding: 6rem;
    border-radius: 5rem;
    flex: 1;
    font-family: "Roboto", sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #f4f4f4; }
    .clienteGlobal2 div .nombreCliente {
      font-weight: bold;
      font-size: 1.375rem;
      margin-bottom: 0.5rem;
      color: black;
      font-family: "Aleo", serif; }
    .clienteGlobal2 div .opinionCliente {
      font-family: "Roboto", sans-serif;
      color: black; }

.container {
  position: relative; }

.emprendedorGlobal1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  padding: 1rem;
  border: 0;
  z-index: 2;
  gap: 1.5rem; }
  .emprendedorGlobal1 img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem; }
  .emprendedorGlobal1 div {
    padding: 6rem;
    border-radius: 5rem;
    flex: 1;
    font-family: "Roboto", sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #f4f4f4ab; }
    .emprendedorGlobal1 div .nombreEmprendedor {
      font-weight: bold;
      font-size: 1.375rem;
      margin-bottom: 0.5rem;
      color: black;
      font-family: "Aleo", serif; }
    .emprendedorGlobal1 div .sobreEmprendedor {
      font-family: "Roboto", sans-serif;
      color: black; }

.emprendedorGlobal2 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 0;
  padding: 1rem;
  border: 0;
  z-index: 2;
  gap: 1.5rem; }
  .emprendedorGlobal2 img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem; }
  .emprendedorGlobal2 div {
    padding: 6rem;
    border-radius: 5rem;
    flex: 1;
    font-family: "Roboto", sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #f4f4f4ab; }
    .emprendedorGlobal2 div .nombreEmprendedor {
      font-weight: bold;
      font-size: 1.375rem;
      margin-bottom: 0.5rem;
      color: black;
      font-family: "Aleo", serif; }
    .emprendedorGlobal2 div .sobreEmprendedor {
      font-family: "Roboto", sans-serif;
      color: black; }

.section-sobre-nosotros {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex; }
  .section-sobre-nosotros img {
    width: 33.33%;
    height: 100%;
    object-fit: cover; }

.contenedor {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  flex-flow: none;
  justify-content: space-between;
  align-items: none;
  align-content: none;
  gap: none;
  padding: 1.25rem;
  background-color: #BA9D79; }
  .contenedor div {
    background-color: #E3CDAE;
    flex: 1;
    padding: 1.25rem;
    border-radius: .9375rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: .625rem; }
    .contenedor div h4 {
      text-align: center;
      font-family: "Aleo", serif;
      color: black;
      text-align: center;
      margin-bottom: 1.25rem;
      font-size: 1.5rem; }
    .contenedor div div div {
      background-color: #BA9D79;
      padding: 1.25rem;
      border-radius: .9375rem; }
      .contenedor div div div ul {
        list-style: none;
        font-family: "Roboto", sans-serif;
        background-color: #f4f4f4;
        color: black;
        list-style: none;
        padding: .3125rem;
        border-radius: .9375rem; }
        .contenedor div div div ul li {
          margin-bottom: 0.625rem; }
      .contenedor div div div form {
        font-family: "Roboto", sans-serif;
        color: black;
        display: flex;
        flex-wrap: wrap;
        gap: .625rem;
        padding: .625rem; }
        .contenedor div div div form input {
          background-color: #f4f4f4; }
  .contenedor div {
    background-color: #E3CDAE;
    flex: 1;
    padding: 1.25rem;
    border-radius: .9375rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: .625rem; }
    .contenedor div h4 {
      text-align: center;
      font-family: "Aleo", serif;
      color: black;
      text-align: center;
      margin-bottom: 1.25rem;
      font-size: 1.5rem; }

.camposIngreso input[type="text"],
.camposIngreso input[type="email"],
.camposIngreso input[type="nombre"],
.camposIngreso textarea {
  flex: 1 1 50%;
  padding: .625rem;
  margin-bottom: .625rem;
  border: .0625rem solid #ccc;
  border-radius: .3125rem;
  font-family: "Roboto", sans-serif; }

.camposIngreso input[type="submit"] {
  flex: 1 1 100%;
  padding: .625rem;
  background-color: #E3CDAE;
  color: black;
  border: none;
  border-radius: .3125rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif; }

iframe {
  width: 100%;
  height: 39.0625rem;
  border: none;
  border-radius: .9375rem; }

/*Cuarto llamar a los componentes*/
/*Ultimo llamar a los Mediaquerry
Si son Desktop First van en orden decreciente
Si son Mobile First van en orden creciente*/
