.footerGlobal{
    @include flex(row, wrap, none, space-between, flex-start, none, none);
    padding: 1.25rem;
    background-color: $color-blanco-2;
    color: $color-negro;
    font-family: $tipografia-a;
    dl{
        margin-bottom: 1.25rem;
        dt{
            font-size: 1rem;
            font-weight: bold;
        }
        dd{
            margin: 0.3125rem;
            font-size: 0.75rem;
            font-size: $tipografia-b;
            color: $color-negro;
        }
    }
    div{
        display: flex;
        align-items: center;
        margin-bottom: 1.25rem;
        p{
            margin-right: 0.625rem;
            font-size: 1rem;
        }
        img{
            width: 1.5rem;
            height: auto;
            margin-right: 0.625rem;
        }
    }
    form{
        display: flex;
        align-items: center;
        max-width: 100%;
        label{
            margin-right: 0.625rem;
            font-size: 1rem;
        }
        input[type="email"]{
            @extend label;
            width: 100%;
            height: 100%;
        }
        input[type="sumbit"]{
            @extend label;
            width: 3rem;
            height: 3rem;
        }
    }
}