.contenedor{
    @include flex(none, none, none, space-between, none, none, none);
    padding: 1.25rem;
    background-color: $color-secundario;
    div{
        background-color: $color-principal;
        flex: 1;
        padding: 1.25rem;
        border-radius: .9375rem;
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
        margin: .625rem;
        h4{
            text-align: center;
            font-family: $tipografia-a;
            color: $color-negro;
            text-align: center;
            margin-bottom: 1.25rem;
            font-size: 1.5rem;
        }
        div{
            background-color: $color-secundario;
            div{
                background-color: $color-principal;
                padding: 1.25rem;
                border-radius: .9375rem;
                ul{
                    list-style: none;
                    font-family: $tipografia-b;
                    background-color: $color-blanco-2;
                    color: $color-negro;
                    list-style: none;
                    padding: .3125rem;
                    border-radius: .9375rem;
                    li{
                        margin-bottom: 0.625rem;
                    }
                }
                form{
                    font-family: $tipografia-b;
                    color: $color-negro;
                    display: flex;
                    flex-wrap: wrap;
                    gap: .625rem;
                    padding: .625rem;
                    input{
                        background-color: $color-blanco-2;
                    }
                }
            }
        }
    }
    div{
        background-color: $color-principal;
        flex: 1;
        padding: 1.25rem;
        border-radius: .9375rem;
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
        margin: .625rem;
        h4{
            text-align: center;
            font-family: $tipografia-a;
            color: $color-negro;
            text-align: center;
            margin-bottom: 1.25rem;
            font-size: 1.5rem;
        }
    }
}

.camposIngreso input[type="text"],
.camposIngreso input[type="email"],
.camposIngreso input[type="nombre"],
.camposIngreso textarea{
    flex: 1 1 50%;
    padding: .625rem;
    margin-bottom: .625rem;
    border: .0625rem solid #ccc;
    border-radius: .3125rem;
    font-family: "Roboto", sans-serif;
}

.camposIngreso input[type="submit"]{
    flex: 1 1 100%;
    padding: .625rem;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: .3125rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

iframe{
    width: 100%;
    height: 40rem;
    border: none;
    border-radius: 1rem;
}