@mixin flex($flexdirection, $flexwrap, $flexflow, $justifycontent, $alingitems, $alingcontent, $gap){
    display: flex;
    flex-direction: $flexdirection;
    flex-wrap: $flexwrap;
    flex-flow: $flexflow;
    justify-content: $justifycontent;
    align-items: $alingitems;
    align-content: $alingcontent;
    gap: $gap;
}

@mixin grid($templatecolumns, $templaterow, $templateareas, $alignitems, $columngap, $rowgap, $gap){
    display: grid;
    grid-template-columns: $templatecolumns;
    grid-template-rows: $templaterow;
    grid-template-areas: $templateareas;
    align-items: $alignitems;
    column-gap: $columngap;
    row-gap: $rowgap;
    gap: $gap;
}

@mixin imagen-circulo($width, $height, $margin){
    width: $width;
    height: $height;
    margin: $margin;
    border-radius: 50%;
}

@mixin personaGlobal1{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    padding: 1rem;
    border: 0;
    z-index: 2;
    gap: 1.5rem;
}

@mixin personaGlobal2{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 0;
    padding: 1rem;
    border: 0;
    z-index: 2;
    gap: 1.5rem;
}

@mixin personaCuadro{
    padding: 6rem;
    border-radius: 5rem;
    flex: 1;
    font-family: "Roboto", sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
}

@mixin personaImagen{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

@mixin personaNombre{
    font-weight: bold;
    font-size: 1.375rem;
    margin-bottom: 0.5rem;
    color: black;
    font-family: "Aleo", serif;
}