$color-gris: #848484;
$color-gris-t: #84848485;
$color-blanco: white;
$color-blanco-2: #f4f4f4;
$color-blanco-t: #f4f4f4ab;
$color-negro: black;
$color-principal: #E3CDAE;
$color-secundario: #BA9D79;
$color-oscuro: #333;
$color-oscuro-2: #363636;

$tipografia-a: "Aleo", serif;
$tipografia-b: "Roboto", sans-serif;